h1 {
  font-family: Georgia, serif;
  text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 15%;
}

div {
  font-size: medium;
}
#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

h2 {
  font-family: Georgia, serif;
}

body {
  background-color: #e6e6e6;
  font-family:Georgia, serif;
  font-size: medium;
}

h3 {
  font-family: Georgia, serif;
  font-size: Large;
  text-align: center;
}

span {
  text-align: left;
}