h1 {
  font-family: Georgia, serif;
  text-align: center;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 15%;
}


#wrapper {
  width: 820px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-family: Georgia, serif;
}

body {
  background-color: #e6e6e6;
  font-family: Georgia, serif;
  font-size: medium;
}

h3 {
  font-family: Georgia, serif;
  font-size: Large;
  text-align: center;
}



.my-class {
  margin: 12px;
  border: 2px solid #808080;
  padding: 4px;
  background-color: #808080;
  width: 820px;
}


